html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 *  --> Style for score-panel's stars  
 */

.star-down {
    color: #ebeced;
}

.timer {
    display: inline;
    margin: 0 10px 0 15px;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card:active {
    transform: scale(.85);
    transition: transform .2s;
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li,
#rating-star li {
    list-style: none;
    display: inline-block;
    color: #ff4500;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

/*
 *  --> Styles for the completed game modal 
 */

.end-modal {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: absolute; 
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.mod-content {
    width: 550px;
    height: 350px;
    background: linear-gradient(160deg, #c9e5e7 0%, #02ccba 100%);
    border-radius: 5px;
    text-align: center;
    font: 1.2em 'Montaga', serif;
    padding: 15px;
    position: relative;
}

.close {
    position: absolute;
    top: 0;
    right:14px;
    font-size: 44px;
    transform: rotate(45deg);
    cursor: pointer; 
}

#new-game {
    outline: none;
    border: none;
    cursor: pointer;
    display: block;
    position: relative;
    background: #ff4500;
    font-size: 12px;
    font-weight: 300px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 30px;
    margin: 25px auto;
    border-radius: 20px;
    box-shadow: 0 4px #d54600;
}

#new-game:hover{
    box-shadow: 0 2px #d54600;
    top: 2px; 
}

/*
 *  --> Styles for Media Queries 
 */

@media (max-width: 767px) {
	.deck {
		width: 85%;
		min-height: 610px;
	}

	.deck .card {
		height: 5.5rem;
		width: 5.5rem;
	}

	.mod-content {
		width: 450px;
	}
}

@media (max-width: 500px) {
	.deck {
        min-height: 415px;
	}

	.deck .card {
		height: 4.3rem;
		width: 4.3rem;
	}
}
